*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*Estilos globales para el texto*/
body{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    padding-top: 70px;
    line-height: 1.5;
}

/*Fuente*/



/*Footer Fixed. Sorry pero me estaba dando un Tic verlo de esa manera XD*/
#footer{
    text-align: center; 
    background-color: #0602b1; 
    color: aliceblue;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 2%;
    
}
/*Estilos Home*/
header div h1{
    text-align: center;
}

main div img{
    width: 200px;
    
}

    


main div{
    text-align: center;
    margin: 3rem 0;
}

#main-info{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 5%;
}

/*Estilos Nosotros*/
section h2{
    text-align: center;
    padding-top: 1%;
    text-transform: capitalizes ;
}
section div img{
    width: 60%;
    height: 40%;

}
/*Alinear Vendedores al centro*/
.img-container-nosotros{
    text-align: center;
    margin: 5%;
    
}
div p{
    text-align: center;
}
.img-container-nosotros a{
    padding: 5%;
}
section{
    margin-bottom: 1%;
}
.info{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
}
/*div.main-menu-img{
    background-image: url(../img/repuestos-accesorios.jpg.ximg_.l_12_h.smart_.webp);
    padding: 10%;
}*/

main div h2{
margin: 2%;
}
main div p{
font-size: 1.5em;
text-align: justify;
text-justify: inter-word;
}



/*CARRUSEL*/
.carousel{
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    
}
.carousel::-webkit-scrollbar{
    display: none;
}
.card{
    flex: 0 0 5em;
    height: 5em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}

.nav-link{
    font-weight: bolder;
    
}

/* Navbar */
.navbar-brand, .navbar .nav-link {
    font-family: 'Oswald', sans-serif !important; 
    font-weight: 600; 
    text-transform: uppercase; 
}

/*FORM*/
form div{
    margin: 2%;
}

form button{
    text-align: center;
}
/*FLEXBOX NOSOTROS*/
.container-flexbox-nosotros{
    display: flex;
}

.item-nosotros{
    margin: 2%;
    padding: 2%;
}

.item-nosotros img{
        width: 70%;
        height: 60%;
}


@keyframes spin{
    from {transform: translateX(0);}
    to {transform: translateX(-100%);} 
}

/*MEDIA QUERIES*/
@media (max-width: 420px) {

  /* Navbar general */
  .navbar {
    padding: 0.4rem 0.6rem;
  }

  /* Quitar impacto del h1 */
  .navbar h1 {
    font-size: 1rem;
    margin: 0;
  }

  /* Texto del brand */
  .navbar-brand {
    font-size: 0.9rem;
    line-height: 1.1;
    padding: 0;
  }

  /* Logo */
  .navbar-brand img {
    width: 35px;
    height: auto;
  }

  /* Links del menú */
  .nav-link {
    font-size: 0.85rem;
    padding: 0.4rem 0.5rem;
  }

  /* Botón hamburguesa */
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
}

